#footer
  position: relative
  background-color: $light-blue
  background-attachment: scroll
  background-position: bottom
  background-size: cover

  if hexo-config('footer_bg') != false && hexo-config('mask.footer')
    &:before
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--mark-bg)
      content: ''

#footer-wrap
  position: relative
  padding: 40px 20px
  color: "#ccc";
  text-align: center

  a
    color: "#ccc";

    &:hover
      text-decoration: underline

  .footer-separator
    margin: 0 4px

  .icp-icon
    padding: 0 4px
    max-height: 1.4em
    width: auto
    vertical-align: text-bottom
